venv
**/__pycache__/
.pytest*
random-data.csv
.coverage
coverage.xml
src/lambda_package.zip
terraform/.terraform/
*.tfstate*
.terraform*
*.zip
.coverage
gdpr_tool_make/src/tmp_package/
lambda_layer/
.DS_Store
=0.19.2
=11.3.0


